# Aviation Accidents Analysis

You are part of a consulting firm that is tasked to do an analysis of commercial and passenger jet airline safety. The client (an airline/airplane insurer) is interested in knowing what types of aircraft (makes/models) exhibit low rates of total destruction and low likelihood of fatal or serious passenger injuries in the event of an accident. They are also interested in any general variables/conditions that might be at play. Your analysis will be based off of aviation accident data accumulated from the years 1948-2023. 

Our client is only interested in airplane makes/models that are professional builds and could potentially still be active. Assume a max lifetime of 40 years for a make/model retirement and make sure to filter your data accordingly (i.e. from 1983 onwards). They would also like separate recommendations for small aircraft vs. larger passenger models. **In addition, make sure that claims that you make are statistically robust and that you have enough samples when making comparisons between groups.**


In this summative assessment you will demonstrate your ability to:
- **Use Pandas to load, inspect, and clean the dataset appropriately.**
- **Transform relevant columns to create measures that address the problem at hand.**
- conduct EDA: visualization and statistical measures to systematically understand the structure of the data
- recommend a set of airplanes and makes conforming to the client's request and identify at least *two* factors contributing to airplane safety. You must provide supporting evidence (visuals, summary statistics, tables) for each claim you make.

### Make relevant library imports

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading and Inspection

### Load in data from the relevant directory and inspect the dataframe.
- inspect NaNs, datatypes, and summary statistics

In [44]:
# Load data
df = pd.read_csv("data/AviationData.csv", encoding="latin1", low_memory=False)

# Quick inspection
print(df.shape)
display(df.head(3))
df.info()

# Missingness overview 
display(df.isna().mean().sort_values(ascending=False).head(15))

# Summary stats snapshot 
display(df.describe(include="all").T.head(25))

(88889, 31)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

Schedule                  0.858453
Air.carrier               0.812710
FAR.Description           0.639742
Aircraft.Category         0.636772
Longitude                 0.613304
Latitude                  0.613203
Airport.Code              0.436016
Airport.Name              0.407081
Broad.phase.of.flight     0.305606
Publication.Date          0.154924
Total.Serious.Injuries    0.140737
Total.Minor.Injuries      0.134246
Total.Fatal.Injuries      0.128261
Engine.Type               0.079830
Report.Status             0.071820
dtype: float64

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Event.Id,88889,87951,20001212X19172,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investigation.Type,88889,2,Accident,85015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accident.Number,88889,88863,CEN22LA149,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Event.Date,88889,14782,1984-06-30,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,88837,27758,"ANCHORAGE, AK",434,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,88663,219,United States,82248,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latitude,34382,25589,332739N,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Longitude,34373,27154,0112457W,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Airport.Code,50132,10374,NONE,1488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Airport.Name,52704,24870,Private,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injury.Severity,87889,109,Non-Fatal,67357,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aircraft.damage,85695,4,Substantial,64148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aircraft.Category,32287,15,Airplane,27617,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Registration.Number,87507,79104,NONE,344,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Make,88826,8237,Cessna,22227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Model,88797,12318,152,2367,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amateur.Built,88787,2,No,80312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number.of.Engines,82805.0,NaN,NaN,NaN,1.146585,0.44651,0.0,1.0,1.0,1.0,8.0
Engine.Type,81793,12,Reciprocating,69530,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FAR.Description,32023,31,091,18221,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Schedule,12582,3,NSCH,4474,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purpose.of.flight,82697,26,Personal,49448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Air.carrier,16648,13590,Pilot,258,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total.Fatal.Injuries,77488.0,NaN,NaN,NaN,0.647855,5.48596,0.0,0.0,0.0,0.0,349.0
Total.Serious.Injuries,76379.0,NaN,NaN,NaN,0.279881,1.544084,0.0,0.0,0.0,0.0,161.0

## Data Cleaning

### Filtering aircrafts and events

We want to filter the dataset to include aircraft that the client is interested in an analysis of:
- inspect relevant columns
- figure out any reasonable imputations
- filter the dataset

In [45]:
# Convert Event.Date to datetime
df["Event.Date"] = pd.to_datetime(df["Event.Date"], errors="coerce")

# Extract year
df["Event.Year"] = df["Event.Date"].dt.year

# Filter from 1983 onward
df = df[df["Event.Year"] >= 1983]


# Convert Event.Date to datetime and extract year
df["Event.Date"] = pd.to_datetime(df["Event.Date"], errors="coerce")
df["Event.Year"] = df["Event.Date"].dt.year

# keep last 40 years (1983+)
df = df[df["Event.Year"] >= 1983].copy()

# Keep only accidents (not incidents) and professionally-built aircraft
df = df[df["Investigation.Type"] == "Accident"].copy()
df = df[df["Amateur.Built"] == "No"].copy()

# Keep "Airplane" category only (exclude rotorcraft, gliders, etc.)
df = df[df["Aircraft.Category"] == "Airplane"].copy()

df.shape

(19937, 32)

### Cleaning and constructing Key Measurables

Injuries and robustness to destruction are a key interest point for the client. Clean and impute relevant columns and then create derived fields that best quantifies what the client wishes to track. **Use commenting or markdown to explain any cleaning assumptions as well as any derived columns you create.**

We construct safety metrics by:

- Converting injury columns to numeric and filling missing values with 0.
- Estimating total passengers as the sum of all injury categories.
- Computing the fatal/serious injury fraction.

In [46]:
# Convert injury columns to numeric
inj_cols = [
    "Total.Fatal.Injuries",
    "Total.Serious.Injuries",
    "Total.Minor.Injuries",
    "Total.Uninjured"
]

for col in inj_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Replace missing injury counts with 0
df[inj_cols] = df[inj_cols].fillna(0)

df[inj_cols].describe()

,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,19937.000000,19937.00000,19937.000000,19937.000000
mean,0.694738,0.28876,0.218237,4.903947
std,6.559137,2.18752,1.707660,27.268336
min,0.000000,0.00000,0.000000,0.000000
25%,0.000000,0.00000,0.000000,0.000000
50%,0.000000,0.00000,0.000000,1.000000
75%,0.000000,0.00000,0.000000,2.000000
max,295.000000,161.00000,200.000000,576.000000

In [47]:
# Estimate total passengers onboard
df["passenger_total_est"] = (
    df["Total.Fatal.Injuries"]
    + df["Total.Serious.Injuries"]
    + df["Total.Minor.Injuries"]
    + df["Total.Uninjured"]
)

df["passenger_total_est"].describe()

count    19937.000000
mean         6.105683
std         28.491958
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max        576.000000
Name: passenger_total_est, dtype: float64

**Construct metric for fatal/serious injuries**

*Hint:* Estimate the total number of passengers on each flight. The likelihood of serious / fatal injury can be estimated as a fraction from this.

In [48]:
# Compute fatal/serious total
df["fatal_serious_total"] = (
    df["Total.Fatal.Injuries"]
    + df["Total.Serious.Injuries"]
)

# Compute fatal/serious fraction
df["fatal_serious_frac"] = np.where(
    df["passenger_total_est"] > 0,
    df["fatal_serious_total"] / df["passenger_total_est"],
    np.nan
)

df["fatal_serious_frac"].describe()

count    19674.000000
mean         0.296024
std          0.436755
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: fatal_serious_frac, dtype: float64

**Aircraft.Damage**
- identify and execute any cleaning tasks
- construct a derived column tracking whether an aircraft was destroyed or not.

In [49]:
# Clean Aircraft.damage and create destruction flag
df["Aircraft.damage"] = df["Aircraft.damage"].str.strip().str.title()

# 1 = Destroyed, 0 = Not Destroyed 
df["is_destroyed"] = (df["Aircraft.damage"] == "Destroyed").astype(int)

### Investigate the *Make* column
- Identify cleaning tasks here
- List cleaning tasks clearly in markdown
- Execute the cleaning tasks
- For your analysis, keep Makes with a reasonable number (you can put the threshold at 50 though lower could work as well)

Make cleaning steps:
- Strip whitespace and standardize capitalization
- Remove missing Make values
- Keep only Makes with at least 50 accidents for robustness

In [50]:
# Basic Make cleaning (standardize text + remove obvious missing placeholders)
df["Make"] = df["Make"].astype(str).str.strip().str.title()

# Drop missing makes
df = df.dropna(subset=["Make"]).copy()

# Keep only makes with enough samples (>= 50)
make_counts = df["Make"].value_counts()
valid_makes = make_counts[make_counts >= 50].index
df = df[df["Make"].isin(valid_makes)].copy()

print(df.shape)
display(df["Make"].value_counts().head(15))

(16550, 36)

Make
Cessna                7029
Piper                 3938
Beech                 1392
Boeing                 553
Mooney                 358
Bellanca               217
Air Tractor Inc        217
Maule                  215
Cirrus Design Corp     209
Air Tractor            206
Aeronca                200
Champion               157
Grumman                146
Luscombe               141
Cirrus                 130
Name: count, dtype: int64

### Inspect Model column
- Get rid of any NaNs.
- Inspect the column and counts for each model/make. Are model labels unique to each make?
- If not, create a derived column that is a unique identifier for a given plane type.

Model cleaning steps:
- Remove missing values
- Standardize formatting
- Check whether model names are unique within each Make
- Create a unique Make-Model identifier if necessary

In [51]:
# Remove missing models
df = df.dropna(subset=["Model"]).copy()

# Clean formatting
df["Model"] = df["Model"].astype(str).str.strip().str.title()

# Check if models are unique across makes
model_make_counts = df.groupby("Model")["Make"].nunique()

# Count models that appear under multiple makes
model_make_counts[model_make_counts > 1].count()

95

In [52]:
# Create unique Make-Model identifier
df["Make_Model"] = df["Make"] + " " + df["Model"]

df["Make_Model"].value_counts().head()

Make_Model
Cessna 172     763
Cessna 152     311
Cessna 182     300
Cessna 172S    272
Piper Pa28     268
Name: count, dtype: int64

### Cleaning other columns
- there are other columns containing data that might be related to the outcome of an accident. We list a few here:
- Engine.Type
- Weather.Condition
- Number.of.Engines
- Purpose.of.flight
- Broad.phase.of.flight

Inspect and identify potential cleaning tasks in each of the above columns. Execute those cleaning tasks. 

**Note**: You do not necessarily need to impute or drop NaNs here.

In [53]:
# Engine.Type
df["Engine.Type"] = df["Engine.Type"].astype(str).str.strip().str.title().replace({"Unk": np.nan,"Unknown":np.nan, "Nan": np.nan})

# Weather.Condition
df["Weather.Condition"] = df["Weather.Condition"].astype(str).str.strip().str.upper()
df["Weather.Condition"] = df["Weather.Condition"].replace({"UNK": np.nan,  "NAN": np.nan, "": np.nan})

# Number.of.Engines replace 0 with NaN
df.loc[df["Number.of.Engines"] == 0, "Number.of.Engines"] = np.nan

# Purpose.of.flight
df["Purpose.of.flight"] = df["Purpose.of.flight"].astype(str).str.strip().str.title()
df["Purpose.of.flight"] = df["Purpose.of.flight"].replace({"Unk": np.nan,"Unknown": np.nan, "Nan": np.nan, "": np.nan})

# Broad.phase.of.flight 
df["Broad.phase.of.flight"] = df["Broad.phase.of.flight"].astype(str).str.strip().str.title()
df["Broad.phase.of.flight"] = df["Broad.phase.of.flight"].replace({"Unk": np.nan,"Unknown": np.nan,"Nan": np.nan, "": np.nan})

# Quick check
display(df[["Engine.Type","Weather.Condition","Number.of.Engines","Purpose.of.flight","Broad.phase.of.flight"]].head())

,Engine.Type,Weather.Condition,Number.of.Engines,Purpose.of.flight,Broad.phase.of.flight
4171,Reciprocating,IMC,1.0,Personal,Cruise
4285,Turbo Prop,VMC,2.0,Skydiving,Standing
6806,Reciprocating,VMC,1.0,Personal,Climb
7084,Reciprocating,VMC,1.0,Personal,Takeoff
7708,Turbo Prop,VMC,2.0,NaN,Landing

### Column Removal
- inspect the dataframe and drop any columns that have too many NaNs

In [54]:
df.isna().mean().sort_values(ascending=False)

Schedule                  0.917045
Broad.phase.of.flight     0.854344
Air.carrier               0.543080
Airport.Code              0.327952
Airport.Name              0.323659
Report.Status             0.177036
Engine.Type               0.151763
Purpose.of.flight         0.130600
Weather.Condition         0.102425
Number.of.Engines         0.086341
Longitude                 0.065421
Latitude                  0.065240
Publication.Date          0.035734
Aircraft.damage           0.022069
fatal_serious_frac        0.012214
Injury.Severity           0.011125
FAR.Description           0.010883
Registration.Number       0.007437
Location                  0.000181
Country                   0.000060
Total.Uninjured           0.000000
passenger_total_est       0.000000
Event.Year                0.000000
is_destroyed              0.000000
fatal_serious_total       0.000000
Event.Id                  0.000000
Total.Minor.Injuries      0.000000
Total.Serious.Injuries    0.000000
Total.Fatal.Injuries      0.000000
Investigation.Type        0.000000
Amateur.Built             0.000000
Model                     0.000000
Make                      0.000000
Aircraft.Category         0.000000
Event.Date                0.000000
Accident.Number           0.000000
Make_Model                0.000000
dtype: float64

In [55]:
# Drop columns that are not relevant to the analysis
# (either very high missing values or not needed for business question)

cols_to_drop = [
    "Schedule",          
    "Air.carrier",      
    "Airport.Code",       
    "Airport.Name",      
    "Report.Status",      
    "Publication.Date"    
]

df = df.drop(columns=cols_to_drop)

df.shape

(16539, 31)

### Save DataFrame to csv
- its generally useful to save data to file/server after its in a sufficiently cleaned or intermediate state
- the data can then be loaded directly in another notebook for further analysis
- this helps keep your notebooks and workflow readable, clean and modularized

In [56]:
df.to_csv("data/aviation_cleaned.csv", index=False)